.accounts-main {
  display: flex;
  justify-content: center;
}

.accounts-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 70px;
  display: flex;
  align-items: center;
}

.logo-account {
  height: 25px;
}

.acc-left-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.account-content {
  max-width: 600px;
  width: 80%;
  margin-top: 50px;
}

.account-text {
  font-family: Roboto, Arial;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.border-line {
  width: 100%;
  height: 1px;
  background-color: #514242;
  margin-top: 5px;
  margin-bottom: 5px;
}

.account-profile-container {
  display: flex;
  padding: 40px 40px 40px 0px;
}

.account-profile-pic {
  width: 100%;
  height: 100%;
}
.account-left {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  position: relative;
}

.p-edit-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 3px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}

.profile-details {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.password-container {
  width: 100%;
  position: relative;
}

.show-pass-vis-account {
  color: white;
  position: absolute;
  top: 15px;
  right: 0px;
  cursor: pointer;
}

.input-fields {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #2d202082;
  color: white;
  padding-left: 10px;
  border: 1px solid #5f4141;
}

.input-fields::placeholder,
.input-fields::target-text {
  font-family: Roboto, Arial;
  font-size: 15px;
  color: white;
  border: 0px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

.final-btns {
  display: flex;
  column-gap: 10px;
  padding: 20px 40px 40px 0px;
}

.acc-btns {
  height: 40px;
  min-width: 100px;
  font-family: Roboto, Arial;
  border: 0px;
  margin: 0px;
  cursor: pointer;
}
.save {
  font-weight: bold;
  font-size: 15px;
}

.cancel,
.delete {
  background-color: black;
  border: 1px solid #3e3a31;
  color: #8d6b6b;
}
