.header {
  display: flex;
  align-items: center;
  height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.left {
  display: flex;
  margin-left: 40px;
}

.logo {
  height: 25px;
}

.menu-btn {
  display: none;
}

.middle {
  display: flex;
  width: 400px;
  font-family: Roboto, Arial;
  column-gap: 15px;
  margin-left: 20px;
  color: white;
  font-weight: 500;
}

.links {
  transition: text-decoration 0.4s;
  cursor: pointer;
  font-size: 16px;
}
.links:hover {
  transform: scale(1.1);
  font-weight: bolder;
  z-index: 1000;
}

.right {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  justify-content: end;
}

.right-container {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: Roboto, Arial;
  align-items: center;
  column-gap: 10px;
}

.header-icons {
  cursor: pointer;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.profile_show {
  position: relative;
}

.profile-container {
  position: absolute;
  top: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: Roboto, Arial;
  left: -52px;
}

@media screen and (max-width: 730px) {
  .menu-btn {
    display: block;
    height: 25px;
    color: white;
    margin-right: 10px;
  }

  .left {
    margin-left: 5px;
  }
  .middle {
    display: none;
  }
}
