.slider-wrapper {
  display: flex;
  width: max-content;
  transition: transform 1s;
  overflow: hidden;
}

.non-wrapper {
  overflow: hidden;
  position: relative;
}

.featured-container {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-type {
  position: absolute;
  top: 70px;
  left: 40px;
  font-family: Roboto, Arial;
  color: white;
  font-weight: bold;
  font-size: 30px;
  z-index: 100;
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(0.5);
}

.movie-info {
  width: 50%;
  position: absolute;
  /* bottom: 100px; */
  color: white;
  margin-left: 40px;
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.movie-title {
  width: 100%;
  max-width: 500px;
  /* height: 200px; */
}

.desc-text {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 30;
  height: 100px;
  overflow: hidden;
}

.play-info {
  display: flex;
  width: 200px;
  column-gap: 10px;
  margin-top: 20px;
}

.pi-btns {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  cursor: pointer;
}

.pi-btns-info {
  background-color: #6b8d8b;
  color: white;
}

.round-ticks {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 15px;
  column-gap: 10px;
  margin-bottom: 5px;
  bottom: 20px;
}

.ticks {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  /* background-color: red; */
  border: 1px solid red;
}

@media screen and (max-width: 1000px) {
  .movie-info {
    bottom: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .movie-info {
    bottom: 10px;
    bottom: 10px;
    width: 80%;
    align-items: center;
  }
}
