.player-main {
  color: white;
  width: 100vw;
  height: 98vh;
}

.player-header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.player-left {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: 1px solid red;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.video-name {
  font-family: Roboto, Arial;
  color: white;
  font-size: 30px;
}

.player-right {
  width: 150px;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.main-video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
