.video-card {
  width: 250px;
  height: 380px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  /* transition: 0.3s; */
  cursor: pointer;
}

.videos {
  margin-top: 10px;
}

.video-thumb {
  /* border: 1px solid #605a5a; */
  width: 100%;
  object-fit: cover;
  height: calc(100% - 2px);
  border-radius: 5px;
  /* display: none; */
}

.videoInfo {
  display: none;
}

.video {
  width: 100%;
  height: 150px;
  object-fit: none;
}

.video-actions {
  display: flex;
  width: 100%;
  column-gap: 10px;
  color: white;
  margin-left: 5px;
  align-items: center;
  margin-top: 10px;
}

.more-opt {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  flex: 1;
}

.more-info {
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  display: flex;
}

.video-actions-btn {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.time-rating {
  display: flex;
  width: auto;
  color: white;
  font-family: Roboto, Arial;
  column-gap: 5px;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.ua-logo {
  width: 24px;
  color: white;
  border: 1px solid #484339;
  padding: 2px;
  margin: 3px;
}

.video-info-text {
  color: white;
  display: none;
  width: auto;
  font-family: Roboto, Arial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 30; */
  word-wrap: break-word;
  margin-top: 10px;
  padding-bottom: 25px;
}

.video-card:hover {
  /* height: auto; */
  /* z-index: 1000; */
  /* width: 300px;
  height: 300px; */
  /* transform: scale(1.5, 1.5); */
  border: 2px solid white;
  border-radius: 5px;
}

/* .video-card:hover .videoInfo {
  display: block;
  background-color: black;
  width: calc(100% - 1px);
  position: absolute;
} */

/* .video-card:hover .video-thumb {
  display: none;
} */
